version: 2.1
orbs:
  node: circleci/node@4.0.1
jobs:
  build:
    # Reuse Docker container specification given by the node Orb
    executor: node/default
    resource_class: xlarge
    steps:
      - checkout
      - node/install:
          node-version: '15.8.0'
          install-yarn: true
          install-npm: false
      # Install dependencies - the node Orb takes care of installation and dependency caching
      - node/install-packages:
          pkg-manager: yarn
          override-ci-command: yarn install --ignore-engines
          # cache-path: node_modules
      # Save workspace for subsequent jobs (i.e. test)
      - persist_to_workspace:
          root: .
          paths:
            - .
  test:
    docker:
      - image: circleci/node:latest-browsers
    resource_class: xlarge
    environment:
      NODE_OPTIONS: --max-old-space-size=8192
    steps:
      # Reuse the workspace from the build job
      - attach_workspace:
          at: .
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: |
            yarn build
            yarn test-ci
          name: Run YARN tests
workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
