/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: black;
  font-family: 'Lucida Console', Monaco, monospace;
  overflow: auto;
  letter-spacing: 4px;
}

.MuiTabs-flexContainer {
  justify-content: space-between;
}
