name: Build Desktop Wallet

on:
  push:
    branches: [main, develop]
    tags: ['v*']
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  # Build and package desktop wallet
  build:
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: write
    env:
      # Pin full service binary version
      FULL_SERVICE_VERSION: 'v2.10.6'
      # Apple codesigning certs
      CSC_LINK: ${{ secrets.CSC_LINK }}
      CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
      # AppleID for notarising
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
      APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
            os: linux
            arch: x64
            network: mainnet

          - runner: [self-hosted, macOS, X64]
            os: mac
            arch: x64
            network: mainnet

          - runner: [self-hosted, macOS, ARM64]
            os: mac
            arch: arm64
            network: mainnet

          - runner: ubuntu-latest
            os: linux
            arch: x64
            network: testnet

          - runner: [self-hosted, macOS, X64]
            os: mac
            arch: x64
            network: testnet

          - runner: [self-hosted, macOS, ARM64]
            os: mac
            arch: arm64
            network: testnet

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - uses: FranzDiebold/github-env-vars-action@v1.2.1

      - name: Export version tag
        run: |
          echo "VERSION=$(git describe --dirty=+ --always --tags)" >> $GITHUB_ENV

      - name: Configure node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Setup python@3.10 for self-hosted runners
        # required due to issue with node-gyp@0.7 and python@3.11
        # see: https://stackoverflow.com/questions/74715990/node-gyp-err-invalid-mode-ru-while-trying-to-load-binding-gyp
        if: ${{ matrix.os == 'mac' }}
        run: |
          brew install python@3.10
          python3.10 -m venv .venv
          echo "$(pwd)/.venv/bin" >> $GITHUB_PATH

      - name: Configure node module caching
        uses: actions/cache@v3
        with:
          key: desktop-wallet-${{ matrix.os }}-${{ github.run_id }}
          restore-keys: desktop-wallet-${{ matrix.os }}
          lookup-only: ${{ matrix.network == 'testnet' }}
          path: |
            ./node_modules

      - name: Install node dependencies
        uses: borales/actions-yarn@v4
        with:
          cmd: install

      - name: Fetch and link full-service binaries for packaging
        run: |
          ./get-full-service.sh -o ${{ matrix.os }} -a ${{ matrix.arch }} -n ${{ matrix.network }} -v ${{ env.FULL_SERVICE_VERSION }}
          ls ./full-service-bin/

      - name: Patch testnet build names and disable autoupdate
        if: ${{ matrix.network == 'testnet' }}
        run: |
          sed -i.bkp -e's/MobileCoin Wallet/MobileCoin Wallet TestNet/g' package.json
          sed -i.bkp -e's/mobilecoin-wallet/mobilecoin-wallet-testnet/g' package.json
          sed -i.bkp -e's/MobileCoin Wallet/MobileCoin Wallet TestNet/g' app/package.json
          sed -i.bkp -e's/mobilecoin-wallet/mobilecoin-wallet-testnet/g' app/package.json
          sed -i.bkp -e's/new AppUpdater();//g' app/main.dev.ts
          yarn postinstall

      - name: Build and package app
        uses: borales/actions-yarn@v4
        with:
          cmd: package-${{ matrix.os }}

      - name: Upload package artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mobilecoin-desktop-${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.network }}
          path: |
            release/MobileCoin Wallet*
            release/mobilecoin-wallet*
            release/latest-*.yml

      - name: Create prerelease for tagged versions
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          prerelease: true
          files: |
            release/MobileCoin Wallet*
            release/mobilecoin-wallet*
